


<div  class="container-fluid">  
  <th> <br> <font face = "Calibri"  size = "5">Flight Management System</font></th><br>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">  
      <ul class="navbar-nav">  
        <li class="nav-item ">  
        <a routerLink="Book-ticket" class="nav-link" role="button" >View Available 
          Flights</a>  
        </li> 
        <li class="nav-item">
          <a  routerLink="add-booking" class="nav-link" role="button" > Book Ticket</a> 
        </li>   
        <li class="nav-item">
            <a  routerLink="cancel-booking" class="nav-link" role="button" >Cancel Ticket</a> 
        </li>   
        <li class="nav-item">
          <a  routerLink="view-booking" class="nav-link"  role="button" >View BookingInfo</a>  
        </li> 
      </ul>  
    </nav>     
      <router-outlet></router-outlet>  
  </div>